@import "../../styles.scss";

.our-services {
  color: var(--textColor);
  background: var(--bg-gradient);
    background: var(--bg);
  h2 {
    color: var(--pink);
  }
}

.service_stack {
  background-color: transparent !important;
  .service_head{
    background-color: var(--pink);
    opacity: 0.4;
  }
  .card_body {
    max-height: 360px !important;
    color: var(--textColor);
    background-color: var(--header) !important;
  }
}


h3{
    filter: drop-shadow(rem(3) rem(3) rem(3) var(--pink));
}

@include width-range(0, rem(768)) {
  .service_stack {
    flex-wrap: wrap !important;
  }
}
