@import '../../styles.scss';

.member {
    position: relative;
    cursor: pointer;
    @include flex(center, center, '', 0, 0);

    .i11 {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.offcanvas-members {
    .offcanvas-body {
        background: linear-gradient(135deg, var(--bs-green), var(--bs-teal));
        height: 100vh;
        width: 100%;

        .item {
            height: 70px;
            background-color: var(--card-bg);
            color: var(--textColor-200);
            img {
                @include setDimension(rem(50), rem(50));
                border-radius: 50%;
            }

            .link:hover{
                color: var(--pink) !important;
            }
        }
    }
}