.home_wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--bg-gradient);
  background: var(--bg);
  padding-top: 0px;
  // padding-bottom: 30px;
  position: relative;

  .social_connect {
    position: fixed;
    bottom: 20px;
    width: 200px;
    left: 10px;
    z-index: 300;
    .social {
      width: 50px;
      margin-left: 10px;
    }
  }
}
